<h1>Parametry kolaborativního filtrování</h1>

<form method="post">
  <div class="form-group">
    <label for="minCommonRating">Minimální počet společných hodnocení:</label>
    <input type="range" name="minCommonRatings" min="1" max="100" step="1" value="<%= minCommonRatings %>">
  </div>

  <div class="form-group">
    <label for="usersCount">Počet uživatelů používaných k doporučování:</label>
    <input type="range" name="usersCount" min="1" max="100" step="1" value="<%= usersCount %>">
  </div>

  <div class="form-group">
    <label for="moviesCount">Počet doporučených filmů:</label>
    <input type="range" name="moviesCount" min="1" max="100" step="1" value="<%= moviesCount %>">
  </div>

  <button type="submit" class="btn btn-primary">Uložit</button>
</form>

<script>
var ranges = document.querySelectorAll('[type=range]')
for (var i = 0; i < ranges.length; ++i) {
  var range = ranges[i]

  var input = document.createElement('input')
  input.type = 'text'
  input.readOnly = true
  input.className = 'form-control'

  range.parentNode.appendChild(input)

  range.__input = input

  range.onchange = range.onmousemove = function () {
    this.__input.value = this.value
  }
  range.onchange()
}
</script>
