<h1>Pearson's index: <%= index %></h1>
<p>User1: <%= userName1 %></p>
<p>User2: <%= userName2 %></p>

<canvas id="chart" width="600" height="600"></canvas>

<% for(const x of candidates)
{ %>
  <h2><%= x.movie.name %> : <%= x.value %></h2>
<% } %>

<script>
var ctx = document.getElementById('chart')
var chart = new Chart(ctx, {
  type: 'bubble',
  data: {
    datasets: <%- JSON.stringify(data) %>
  },
  options: {
    elements: {
      points: {
        borderWidth: 1,
        borderColor: 'rgb(0, 0, 0)'
      }
    },
    scales: {
      xAxes: [{
        type: 'linear',
        ticks: {
          beginAtZero: true,
          max: 6
        }
      }],
      yAxes: [{
        type: 'linear',
        ticks: {
          beginAtZero: true,
          max: 6
        }
      }]
    },
    tooltips: {
      mode: 'point',
      displayColors: false,
      callbacks: {
        label: function (tooltipItem, data) {
          return data.datasets[tooltipItem.datasetIndex].label + ' (' + tooltipItem.xLabel + ', ' + tooltipItem.yLabel + ')'
        }
      }
    }
  }
});
</script>
