<h1>User: <%= User.name %></h1>

<script>
function updateTextInput(text, val)
{
  document.getElementById(text).value = val;
}
</script>

<form method="GET" action="userdetail">
  <input class="form-control" type="range" name="sampleusers" min="1" max="20" onchange="updateTextInput('sampleusersT', `Sample users: ${this.value}`);">
  <input class="form-control" type="text" id="sampleusersT" value="">

  <input class="form-control" type="range" name="moviecount" min="1" max="20" onchange="updateTextInput('moviecountT', `Movie count: ${this.value}`);">
  <input class="form-control" type="text" id="moviecountT" value="">

  <br>
  <input class="form-control" type="hidden" name="userId" value="<%= iser.id %>">
  <input class="form-control" type="submit" value="Ok">
</form>

<% for(const x of Movies)
{ %>
  <h2><%= x.name %></h2>
<% } %>
